@theme {
  --color-border: #e2e8f0;
  --color-input: #2f466b;
  --color-ring: #020617;
  --color-background: #ffffff;
  --color-foreground: #020617;
  --color-primary: #020617;
  --color-primary-foreground: #f8fafc;
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #020617;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;
  --color-accent: #f1f5f9;
  --color-accent-foreground: #020617;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;
  --color-popover: #ffffff;
  --color-popover-foreground: #020617;
  --color-card: #ffffff;
  --color-card-foreground: #020617;
  --radius: 0.5rem;
}
